language: php

env:
  - APP_ENV=travis

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  ## Composer
  - composer self-update
  - composer install --prefer-source --no-interaction --dev
  ## Database
  - mysql -e 'create database my_dbname;'

script:
  - gearmand -d
  - phpunit

matrix:
  allow_failures:
    - php: hhvm
