<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="PHP Sage50 Test Suite">
            <directory>./test/tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="MYSQL_HOST" value=""/>
        <env name="MYSQL_PORT" value=""/>
        <env name="MYSQL_DATABASE" value=""/>
        <env name="MYSQL_USER" value=""/>
        <env name="MYSQL_PASSWORD" value=""/>
    </php>
</phpunit>
